.vscode
venv
db
tasks

.idea
.idea/
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg
.env

*.log
*.wav

dist
db.sqlite3

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc


log/debug.log

build
doc
home.rst

.pytest_cache

files/