{% extends "base.html" %}

{% block title %}Forgot your password?{% endblock %}

{% block visual %}
<style type="text/tailwindcss">
    .reset_password{
        @apply bg-gray-200 text-center m-auto p-3 rounded-sm w-96 h-44 block absolute right-0 bottom-0 top-0 left-0
    }

    input{
        @apply block text-center rounded p-1 m-2 ml-0 w-full focus:outline-none outline-none
    }

    .btn{
        @apply bg-yellow-400 rounded p-1 w-1/2 hover:bg-yellow-500
    }

    h1{
        @apply text-xl font-bold text-center text-neutral-700
    }
</style>
{% endblock %}

{% block content %}
    <div class="reset_password">
        <div class="header">
            <h1>Forgot your password?</h1>
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.email }}
            <button class="btn">Send me instruction!</button>
        </form>
    </div>
{% endblock %}