{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block visual %}
<style type="text/tailwindcss">
    .logout{
        @apply bg-gray-200 text-center m-auto p-5 rounded-sm w-56 h-28 block absolute right-0 bottom-0 top-0 left-0
    }

    .linkers{
        @apply flex justify-between p-3
    }

    h1{
        @apply text-xl font-bold text-center text-neutral-700
    }

    a{
        @apply text-amber-500 hover:text-amber-600
    }

</style>
{% endblock %}

{% block content %}
<div class="logout">
    <h1>Logout successful</h1>
    <div class="linkers">
        <a href="https://github.com/wartinich/UAVoiceGenerator">Code</a>
        <a class="forgot_password" href="{% url 'login' %}">Login</a>
        <a class="sign_up" href="{% url 'sign_up' %}">Sign up</a>
    </div>
</div>
{% endblock %}