{% extends "base.html" %}

{% block title %}Forgot your password?{% endblock %}

{% block visual %}
<style type="text/tailwindcss">

    input{
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
    }

</style>
{% endblock %}

{% block content %}
    <div class="block absolute right-0 bottom-0 top-0 left-0 m-auto p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700 h-max">
        <form class="space-y-3" method="POST">
            {% csrf_token %}
            <h5 class="text-xl text-center font-medium mt-0 text-gray-900 dark:text-white">Reset password</h5>
            <p class="text-sm font-normal text-slate-600">Enter your email address below, and we'll email instructions for setting a new one.</p>
            <div>
                <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
                {{ form.email }}
            </div>
            <button class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
        </form>
    </div>
{% endblock %}