{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block visual %}
<style type="text/tailwindcss">
    .reset_password_done{
        @apply bg-gray-200 text-center m-auto p-3 rounded-sm w-96 h-36 block absolute right-0 bottom-0 top-0 left-0
    }

    h1{
        @apply text-xl font-bold text-center text-neutral-700
    }
</style>
{% endblock %}

{% block content %}
  <div class="reset_password_done">
    <h1>Check our inbox.</h1>
    <p>We have sended you reset password link on your email. Please Check Your Email.</p>
  </div>
{% endblock %}