{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block visual %}
<style type="text/tailwindcss">

    input{
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
    }

</style>
{% endblock %}

{% block content %}
    <div class="block absolute right-0 bottom-0 top-0 left-0 m-auto p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700 h-max">
        <div class="space-y-2">
            {% csrf_token %}
            <h5 class="text-xl text-center font-medium mt-0 text-gray-900 dark:text-white">Check our inbox</h5>
            <p class="text-sm font-normal text-slate-600">We have sended you reset password link on your email. Please Check Your Email.</p>
        </div>
    </div>
{% endblock %}