{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block visual %}
<style type="text/tailwindcss">
    .change_password_form{
        @apply bg-gray-200 text-center m-auto p-3 rounded-sm w-72 h-52 block absolute right-0 bottom-0 top-0 left-0
    }

    input{
        @apply block text-center rounded p-1 m-2 ml-0 w-full focus:outline-none outline-none
    }


    .btn{
        @apply bg-yellow-400 rounded p-1 w-2/3 hover:bg-yellow-500
    }

    h1{
        @apply text-xl font-bold text-center text-neutral-700
    }

</style>
{% endblock %}

{% block content %}
    <form class="change_password_form" method="POST">
        <h1>Change password</h1>
        {% csrf_token %}
        {{ form.old_password }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        <button class="btn">Change password</button>
    </form>
{% endblock %}