{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.email }}
    {{ form.username }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.birth_date }}
    {{ form.avatar_image }}
    <button>Save Changes</button>
    <div class="linkers">
            <a class="forgot_password" href="{% url 'change_password' %}">Change password</a>
    </div>
</form>

{% endblock %}